/* My Defaults */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* End My Defaults */
.box{
    width: 200px;
    height: 200px;
}